<div class="container">
    <div class="mid-section m-auto position-relative font-weight-bolder">
        <div class="col-sm-4 justify-content-center mb-5 mx-auto">
            <span>
                <span class="font-21">
                    You have checked our products
                </span>
                <br>
                <span class="font-90">
                    {{_reviewHttp?.userData?.total_products_viewed | number}}
                </span>
                <br>
                <span class="font-21">
                    times
                </span>
                <br>
                <img src="/assets/images/total_products.svg" alt="">
            </span>
        </div>
    </div>
</div>