<div class="container">
    <div class="mid-section m-auto position-relative font-weight-bolder">
        <div class="col-sm-4 justify-content-center mb-5 mx-auto">
            <span>
                <span class="font-21">
                    You purchased
                </span>
                <br>
                <span class="font-90">
                    {{_reviewHttp?.userData?.total_products_purchased | number}}
                </span>
                <br>
                <span class="font-21">
                    myglamm products
                </span>
                <br>
                <img src="/assets/images/purchases.png" class="position-relative" style="top: -100px;" alt="">
            </span>
        </div>
    </div>
    <!-- <footer>
        <app-more></app-more>
    </footer> -->
</div>