$glamm-color: #ff9797;

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    // z-index: 1030;
}

.rain-bow-img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.margin-top {
  margin-top: 10vh;
}

.btn-glamm {
  color: #fff;
  background-color: $glamm-color;
  border-color: $glamm-color;
}
