<div class="container">
  <header >
    <i class="fas fa-angle-up float-right"></i>
  </header >
  <div class="mid-section text-center">
    <h2 class="font-weight-bold ">Hey MyGlamm Star!</h2>
    <h4 class="font-weight-bold margin-top">
      Want to see what India
      <br />
      is watching to?
    </h4>
    <div class="font-weight-bolder">
      Checkout MyGlamm trends from 2019.
    </div>
    <div class=" margin-top">
      <button type="button" class="btn btn-primary btn-glamm rounded-pill">
        MyGlamm 2019 Beauty Trends
      </button>
    </div>
  </div>

  <footer>
    <img class="rain-bow-img" src="/assets/images/blue-rainbow.svg" alt="" />
  </footer>
</div>
