<div class="container">
  <!-- <header>
    <i class="fab fa-buromobelexperte fa-4x"></i>
    <i class="fas fa-angle-up float-right fa-2x mr-2" (click)="onPrev()"></i>
  </header> -->
  <div class="mid-section text-center">
    <div class="d-flex justify-content-between">
      <div>
        <img src="assets/images/heart.svg" alt="" />
      </div>
      <h5 class="font-weight-bold">You have been awesome</h5>

      <div>
        <img src="assets/images/heart.svg" alt="" />
      </div>
    </div>
    <div>We craft makeup you love :)</div>
    <div class="mt-5">Share your journey</div>
  </div>

  <footer class="margin-top">
    <img class="rain-bow-img" src="/assets/images/thanks.svg" alt="" />
  </footer>
</div>
