<div class="container">
  <div class="mid-section m-auto text-center position-relative">
    <div class="mb-5">
      <img class="logo" src="/assets/images/myglamm-logo.png" alt="logo" />
    </div>
    <div class="mb-5">
      <div class=" font-weight-bold mb-0">Hey</div>
      <h3 class="font-weight-bolder">
        {{ _reviewHttp?.userData?.user_name || 'User Name' }}
      </h3>
      <div>You have rocked in 2019</div>
    </div>
    <!-- <div class="font-weight-bolder mb-5">
      Relive and rediscover your favourite
      <br />
      products from the year 2019
    </div> -->
    <div>
        <img src="/assets/images/home.svg" alt="">
    </div>
  </div>
  <footer>
    <app-more></app-more>
  </footer>
</div>
