<div class="container">
    <div class="mid-section m-auto text-center position-relative">
        <div class="mb-5">
            <img class="logo" src="/assets/images/myglamm-logo.png" alt="logo">
        </div>
        <div class="mb-5">
            <h1 class="fa-5x font-weight-bold mb-0">2019</h1>
            <h3 class="font-weight-bolder">User Name</h3>
        </div>
        <div class="font-weight-bolder mb-5">
            Relive and rediscover your favourite
            <br>
            products from the year 2019
        </div>
        <div class="mt-5">
            <span class="pointer" (mouseover)="hover=true" (mouseleave)="hover=false">
                <span class="font-weight-bolder mt-4">Get Started</span>
                <br>
                <i class="fa fa-chevron-down animated" [ngClass]="{'bounce': hover}"></i>
            </span>
        </div>
    </div>
</div>