<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
    <div class="section">
        <app-home *ngIf="_reviewHttp.userData"></app-home>
        <div class="fa fa-refresh fa-5x fa-spin" *ngIf="!_reviewHttp?.userData"></div>
    </div>
    <div class="section">
        <app-savings></app-savings>
    </div>
    <div class="section">
        <app-free-gifts></app-free-gifts>
    </div>
    <div class="section">
        <app-earnings></app-earnings>
    </div>
    <div class="section">
        <app-social-shares></app-social-shares>
    </div>
    <div class="section">
        <app-unique-products></app-unique-products>
    </div>
    <div class="section">
        <app-products-viewed></app-products-viewed>
    </div>
    <div class="section">
        <app-glamm-circle></app-glamm-circle>
    </div>
    <div class="section">
        <app-thank-you></app-thank-you>
    </div>
</div>