<div class="container">
    <div class="mid-section m-auto position-relative font-weight-bolder">
        <div class="mb-5">
            <span>
                <span class="font-21">
                    You have received
                </span>
                <br>
                <span class="font-90">
                    {{_reviewHttp?.userData?.free_gifts?.length | number}}
                </span>
                <br>
                <span class="font-21">
                    free Gifts
                </span>
            </span>
        </div>
    </div>
</div>