<div class="container">
    <div class="mid-section m-auto position-relative font-weight-bolder">
        <div class="col-sm-4 justify-content-center mb-5 mx-auto">
            <span>
                <span class="font-21">
                    You have received
                </span>
                <br>
                <span class="font-90">
                    {{_reviewHttp?.userData?.free_gifts?.length | number}}
                </span>
                <br>
                <span class="font-21">
                    free Gifts
                </span>
                <br>
                <img src="/assets/images/gifts.svg" class="position-relative" style="top: -50px;" alt="">
            </span>
        </div>
    </div>
    <!-- <footer>
        <app-more></app-more>
    </footer> -->
</div>