<div class="container">
    <div class="mid-section m-auto position-relative font-weight-bolder">
        <div class="col-sm-4 justify-content-center mb-5 mx-auto">
            <span>
                <span class="font-21">
                    You have viewed
                </span>
                <br>
                <span class="font-90">
                    {{_reviewHttp?.userData?.total_shades_count | number}}
                </span>
                <br>
                <span class="font-21">
                    unique myglamm shades
                </span>
                <br>
                <img src="/assets/images/shades.svg" alt="">
            </span>
        </div>
    </div>
    <!-- <footer>
        <app-more></app-more>
    </footer> -->
</div>