/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Domine', serif;
}

.pointer {
  cursor: pointer !important;
}

.text-darker {
  color: #3d3d3d;
}

.font-21 {
  font-size: 21px;
}

.font-36 {
  font-size: 36px;
}

.font-51 {
  font-size: 51px;
}

.font-90 {
  font-size: 90px;
}
